body {
    padding: 2em;
}

.main-container {
    /* background: red; */
}

.main-header {

}
/* NEW GAME STATE ==================================================================== */

.create-btn {
    margin: 3em 0 2em 0;
}

.join-input {
    padding: 0.75em;
}

/* PLAYING STATE ==================================================================== */

.mid-container {
    display: flex; /* Enable Flexbox */
    width: 80%;
    margin: 0 auto;
    background: red;
    justify-content: space-between; /* Adjust spacing between children */
    align-items: stretch; /* Make children stretch vertically to match parent height */
    height: 25em; /* Ensure the parent has a height for children to stretch */
}

.places-list-container {
    flex: 0 0 20%;
    background: lightblue;
    height: 100%;
    overflow-y: scroll;
}

.map-container {
    flex: 0 0 80%;
    background: lightgray; 
    height: 25em; 
}

.input-container {
    display: flex; 
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.main-input {
    padding: 0.75em;
    width: 95%;
}

.btn {
    padding: 0.75em;
    display: inline-block;
    border: 1px solid black;
    border-radius: 0.2em;
}
